/* ==========================================================================
   Simon Dark skin
   ========================================================================== */

/* Colors */
$dark-gray: #0e2431 !default;
$background-color: #062f4f !default;
$text-color: #fff !default;
$muted-text-color: #ccc !default;
$primary-color: #813772 !default;
$border-color: mix(#000, $background-color, 20%) !default;
$code-background-color: mix(#fff, $background-color, 20%) !default;
$code-background-color-dark: mix(#000, $background-color, 10%) !default;
$form-background-color: mix(#fff, $background-color, 15%) !default;
$footer-background-color: #B82601 !default;
$masthead-background-color: #000 !default;
$link-color: mix(#fff, $primary-color, 10%) !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 25%) !default;
$masthead-link-color: #fff !default;
$masthead-link-color-hover: mix($text-color, #fff, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.page__footer {
  color: #f5f5f5 !important; // override
}

.author__urls.social-icons .fa,
.page__footer-follow .social-icons .fa {
  color: inherit;
}