---
layout: archive
title: Simon Farrell
---

<h1>Simon Farrell</h1>

I am a Professor in the School of Psychological Science at the University of Western Australia. My research examines human memory over the short and longer term, how we prioritise memories, and how memory is sampled to make choices.
<p>
This page is not updated regularly, please see the <a href="https://research-repository.uwa.edu.au/en/persons/simon-farrell">UWA research repository</a> for up to date info on papers and research.
<p>

<br>
<br>
<br>
<br>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
